<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<h1>Login</h1>
<form role="form"  th:action="@{/login}" method="post">
    <div class="panel-body">
        <div th:if="${param.error}">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>

        <fieldset>
            <div class="form-group">
                <input class="form-control" value="wonwoo" placeholder="username" name="username" type="text" autofocus>
            </div>
            <div class="form-group">
                <input class="form-control" value="123" placeholder="Password" name="password" type="password">
            </div>
            <div><input type="submit" value="Sign In"/></div>
        </fieldset>
    </div>
</form>
</body>
</html>